<div class="controls">
    <div class="control-buttons">
        <% if @folder.get_parent %>
            <%= link_to folder_path(@folder.get_parent), class: "icon-link" do %>
                <span class="glyphicon glyphicon-level-up"></span>
            <% end %>
        <% end %>
        <i class="material-icons" id="new_folder_btn" onclick="openFolderForm()">create_new_folder</i>
    </div>
    <div class="folders-path">
        <%= @folder.get_path(@folder).to_s.html_safe %><br>
    </div>
</div>

<style>

.controls .control-buttons a, i {
    display: inline-block;
    height: 90%;
}

.control-buttons, .folders-path {
    display: inline-block;
    padding-bottom: 0px;
    margin-left: 20px;
}

</style>