<% cache folder do %>
    <tr class="clickable-table-row folder-row" data-href="<%= folder_path(folder) %>">
        <td class="icon-column">
            <span class="glyphicon glyphicon-folder-open"></span>
        </td>
        <td class="name-column">
            <%= folder.name %>
        </td>
        <td class="owner-column">
            <%= folder.owner.username %>
        </td>
        <td class="date-column">
            <%= folder.created_at.strftime('%d %B %Y') %>
        </td>
    </tr>
<% end %>