<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeForm()">&times;</a>
    <div class="overlay-content">
        <%= form_for [@folder, Folder.new], remote: true do |f| %>
            <%= f.text_field :name, class: 'name-input' %>
            <%= f.submit "Create", class: 'btn btn-primary', onclick: "closeForm()" %>
        <% end %>
    </div>
</div>