<div class="items-form">
    <%= form_for [@folder, @item, Item.new], html: { class: "dropzone", id: "item-dropzone" }, remote: true do |f| %>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <div class="fallback">
            <%= f.file_field :file, multiple: true %>
        </div>
    <% end %>    
</div>