<div class="items-form">
    <%= form_for [@folder, @item, Item.new], remote: true do |f| %>
        <%= f.file_field :file, multiple: true, class: "file-field" %>    
        <%= f.submit "Create", class: 'btn btn-primary submit', onclick: "closeItemForm()" %>        
    <% end %>    
    <div id="files2upload" class="overlay-file">
        <a href="javascript:void(0)" class="closebtn" onclick="closeItemForm(); resetFolderForm();">&times;</a>
        <div class="overlay-file-content" id="files"></div>
    </div>
</div>
<script>
    
</script>
