.file-manager
    a
        text-decoration: none!important
        cursor: pointer
        color: #000
    background-color: #2a2f38
    div.controls
        background-color: #2a2f38
        a.icon-link
            span
                top: -6px
                font-size: 29px
                color: white
                cursor: pointer
            &:hover
                background-color: #3a3a3a

        i.material-icons
            font-size: 35px
            color: white
            cursor: pointer
            &:hover
                background-color: #3a3a3a
    div
        margin: auto
        width: 80%

    div.folders-path
        color: #fff
        span.path-link
            display: inline-block
            padding: 3px
            &:hover
                background-color: #9b9b9b
        a
            color: #fff
        