.items-form
    position: absolute
    top: 72px
    right: 0px
    width: 20%
    max-width: 20%
    height: 100%

form.dropzone
    background-color: #2a2f38
    height: auto

div.dz-preview.dz-image-preview
    background: #2a2f38 !important

.dz-message
    color: #ffffff
    font-weight: bold